# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*.so

# Credentials and secrets
credentials/

# Virtual environment folders
venv/
.env/
.env.bak/
env/
ENV/
.env
.venv/

# VSCode or other editor configs (optional)
.vscode/
.idea/
chroma_store/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

=2.0
